.sheep{
    background-color: #f2f2f2;
    border-radius: 12px;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    padding: 5px;
    background-size: contain !important;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.white{
    background-image: url("../icons/sheeple_white_icon.svg") !important; 
}

.white:hover{
    border: 2px solid rgb(49, 49, 49);
    cursor: pointer;
    background: #f2f2f2;
}

.black{
    background-image: url("../icons/sheeple_black_icon.svg") !important;
    border: 2px solid black ;
}

.black:hover{
    border: 2px solid rgb(255, 255, 255) ;
    cursor: pointer;
    background: #f2f2f2;
}

.playerName{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}
button{
    border-radius: 15px;
}

button:hover{
    border: 3px solid rgb(82, 52, 9);
    background-color: rgb(255, 255, 255);
}


#board{
	border: 5px solid rgb(82, 52, 9);
	padding: 1em;
    border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  